<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <bean name="shapeService" class="com.learning.springaop.service.ShapeService">
        <property name="circle" ref="circle" />
    </bean>

    <bean name="circle" class="com.learning.springaop.model.Circle">
        <property name="x" value="10" />
        <property name="y" value="20" />
    </bean>

    <bean name="loggingAspect" class="com.learning.springaop.aspect.LoggingAspect"></bean>

    <aop:config>
        <aop:aspect id="loggingAspect" ref="loggingAspect">
            <aop:pointcut id="beforeCircleGetter" expression="execution(public com.learning.springaop.model.Circle com.learning.springaop.service.ShapeService.getCircle())" />
            <aop:pointcut id="beforeAllPublicServiceGettersReturningCircle" expression="execution(public com.learning.springaop.model.Circle com.learning.springaop.service.*.get*())" />
            <aop:pointcut id="beforeAllPublicGettersReturningCircle" expression="execution(public com.learning.springaop.model.Circle get*())" />
            <aop:pointcut id="beforeAllPublicGettersReturningAnything" expression="execution(public * get*())" />
            <aop:pointcut id="beforeAllGetters" expression="execution(* get*())" />
            <aop:pointcut id="beforeAllGettersTakingSomeArgument" expression="execution(* get*(*))" />
            <aop:pointcut id="beforeAllGettersTakingNoOrSomeArgument" expression="execution(* get*(..))" />
            <aop:pointcut id="beforeAllGettersTakingDummyArguments" expression="execution(* get*(String, int)) and args(arg1, arg2)" />
            <aop:before method="logBeforeCircleGetter" pointcut-ref="beforeAllGettersTakingDummyArguments" arg-names="arg2,arg1"/>

            <!-- <aop:after method="logAfterCircleGetter" pointcut="execution(* get*(..))"/> -->
            <!-- <aop:after-returning method="logAfterReturningCircleGetter" returning="result" pointcut="execution(* get*(..))"/> -->
            <!-- <aop:after-throwing method="logAfterThrowingCircleGetter" throwing="exp" pointcut-ref="beforeAllGettersTakingNoOrSomeArgument"/> -->
            <aop:around method="logAfterAroundCircleGetter" pointcut-ref="beforeAllGettersTakingNoOrSomeArgument"/>

        </aop:aspect>
    </aop:config>

</beans>